/*                         HEADER                  */

#header {
  width: 100%;
  background-color: rgb(22, 101, 175);
  color: white;
  padding: 15px;
  position: relative;
}
#header a{
  color: white;  
  margin-left: 12px; 
}
#header > div {
  position: absolute;
  top: 14px;
  right: 60px;
}
#newPostLink {

  position: absolute;
  width: 160px;
  right: 860px

}

a {
  text-decoration: none;
}
/*                         FOOTER                      */

#footer {
  width: 100%;
  background-color: rgb(22, 101, 175);
  color: white;
  padding: 15px;
  text-align: center;  
} 
/*                          HOME                       */

#home {
  width: 80%;
  margin: 0 auto;  
}
#home > h1 {
  text-align: center;
}

/*                         SINGLEPOST                  */

#SinglePost {
  width: 80%;
  margin: 0 auto;  
  text-align: center;
  
}

#singlePost > h4 {

  text-align: left;
}
/*                         AUTHORS                      */

#authors {
  width: 80%;
  margin: 0 auto; 
}
#authors > h1 {
  text-align: center;
}

/*                         SINGLEAUTHOR                  */

#singleAuthor {

  width: 80%;
  margin: 0 auto; 
}

/*                         NEWPOST                        */

#newpost{

  width: 80%;
  margin: 0 auto; 
}
#newpost > h2 {
  text-align: center;
}

#newpost textarea {
  width: 450px;
  height: 200px;
  margin-bottom: 20px;
}
#buttonsDiv > input {

  margin-bottom: 20px;
  margin-right: 20px;

}
