body {
    background-image: url(./bg.jpg);
}

img {
    width: 80px;
    height: 90px;
}

img {
    position: absolute;
    top: 302px;
    left: 300px;
}

.test {
    display: none;
}

.jump {
    position: absolute;
    top: 220px;
    left: 300px;
}