.personSection {
  border: 1px gray solid;
  width: 31%;
  margin: 1%;  
  display: inline-block;
}
#root {
  width: 100%;
}
#container {
  width: 50%;
  margin: 0 auto; 
}
#picDiv {
    position: relative;
}
img {
  width: 100%;
}
#nameFloat{
  color:white;
  position: absolute;
  top: 200px;
  left: 20px;
}

/* list */
.listDiv {
  padding: 10px;
  border: 1px solid gray;
}
.listDiv > div{
  margin-left: 15px;
  display: inline-block;

}

.listDiv > img {

  width: 70px;
  border-radius: 50%;
  display: inline-block;
}

/* RED */
.listDivRed {
  padding: 10px;
  border: 1px solid gray;
  background-color: pink;
}
.listDivRed > div{
  margin-left: 15px;
  display: inline-block;

}

.listDivRed > img {

  width: 70px;
  border-radius: 50%;
  display: inline-block;
}
/* end of list */
/* Input */
.inputText {

  width: 100%;
  padding: 20px 20px 20px 0px;
}
.inputText > i {

  margin-right: 5px;
  width: 3%;
}
.inputText > input {

  width: 96%;
  border: 0px;
  border-bottom: 1px solid gray;

}
/* textbox */
.personSectionFemale {
  border: 1px gray solid;
  width: 31%;
  margin: 1%;  
  display: inline-block;
  background-color: pink;

}




.parDiv {
  display: inline-block;
  padding: 15px;
}
p {
  margin: 0px;
}
#footer{
  background-color:salmon;
  color: white;
  padding: 12px;
  width: 100%;
}
#footer > p{
  margin-left: 180px;
}

#header{
  background-color: salmon;
  text-align: center;
  padding: 1px;
  color: white;
  position: relative;
}
#header > h1 {
  display: inline-block;
  width: 300px;
}
#header li {
  display: inline-block;
  margin: 0px 15px;

}
#header ul {
  position: absolute;
  display: inline-block;
  top: 15px;
}